<header>
  <div class="logo-container">
    <img src="/assets/imgs/criteo-logo.png" alt="logo Criteo" />
  </div>

  <nav>
    <a href="#" title="Maybe to go to campaign creation ?">Campaign Creation</a>
    <a href="#" title="Maybe to go to advertiser's settings ?">{{advertiserName}}</a>
  </nav>

  <div class="support-container">
    <a href="#" class="support-link" >
      <!-- Use font police instead -->
      <i class="material-icons support-link-icon">contact_support</i>
      <span class="support-link-text text-small">Support Center</span>
    </a>
  </div>
</header>
