<footer>
  <ul class="link-navigation">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Terms of sale</a>
    </li>
    <li>
      <a href="#">Privacy policy</a>
    </li>
    <li>
      <a href="#">Cookie Management</a>
    </li>
    <li>
      <a href="#">Criteo Corporate</a>
    </li>
    <li>
      <a href="#">Send Feedback</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
  <p class="copyright">Copyright © 2018 Criteo. All Rights Reserved.</p>
</footer>
