<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step *ngFor="let step of this.stepsOptions.steps"
            [label]="step.name | uppercase"
            [editable]="false"
            [stepControl]="true"
            [completed]="step.completed"
  >
    <ng-template [ngTemplateOutlet]="templateRef"></ng-template>

    <div class="stepperFormControl">
      <button mat-button>{{'Cancel' | uppercase}}</button>
      <button mat-raised-button color="primary" mat-button matStepperNext >{{'Create audience' | uppercase}}</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
