@import '../../app.component.scss';

form {

  fieldset {

    margin-bottom: 30px;

    .input-text-container {
      margin-top: 62px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .exclude-visitors {
    margin-top: 45px;
    @extend .text-small;

    .exclude-visitors-select-time {
      margin:0 10px;
      width:60px;
    }
  }
}
