@import '../app.component.scss';

.box {

  width: 100%;
  box-shadow: 0 1px 4px 1px $colorLightVeryDark;
  border-radius: 2px;

  .box-title {
    height: 40px;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 0 10px 22px;
    border-bottom: 1px solid $colorLightDark;

    @extend .text-medium;
    @extend .text-bold;

    color: $colorDarkDark
  }

  .box-content {
    overflow-x: auto;
    padding: 30px 2.5% ;

    &.no-padding {
      padding: 0;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $colorLightDark;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}
