<section class="estimated-audience-container">
  <app-box noPadding="true">
    <div class="estimated-audience-content">
      <p class="estimated-audience-title">Estimated audience size</p>
      <div class="estimated-audience-cursor-container">
        <span class="estimated-audience-cursor-number">{{number | amountConverter}}</span>
        <app-cursor-slider min="{{audienceNumberMin}}" max="{{audienceNumberMax}}" [number]="number"></app-cursor-slider>
      </div>
      <p class="estimated-audience-description">
        Hint and help text goes here. For example, we can tell here the problem with too big or too specific audience size.
      </p>
    </div>
  </app-box>
</section>
