@import '../../app.component.scss';

.estimated-audience-container {
  position: absolute;
  right: 0;
  top: -60px;
  background-color: $colorLight;
  width: 368px;

  .estimated-audience-content {
    @extend .text-center;
    padding: 22px 40px 45px;

    .estimated-audience-title {
      @extend .text-large;
      @extend .text-bold;
      color: $colorDarkVeryDark;
    }

    .estimated-audience-title, .estimated-audience-cursor-container {
      border-bottom: 1px solid $colorLightDark;
      padding-bottom: 23px;
      box-sizing: border-box;
      margin: 0 auto 26px;

      .estimated-audience-cursor-number {
        color: $colorBlue;
        @extend .text-large;
        @extend .text-bold;
        letter-spacing: 2px;
        margin-bottom: 14px;
      }
    }

    .estimated-audience-cursor-container {
      // A enlever
      height: 100px;
    }

    .estimated-audience-description {
      @extend .text-small;
    }
  }

  @media all and (max-width: $maxMobileSize) {
    position: static;
    width: 100%;
    margin-top: 20px;
  }
}
