@import '../scss/variables';
@import '../scss/utiles';

// Modification stepper componant to fit the mock
.mat-stepper-horizontal .mat-horizontal-stepper-header-container {
  height: 87px;
  @extend .fix-size-to-container;
  max-width: 1330px;
}

.mat-stepper-horizontal .mat-horizontal-content-container {
  padding: 0;
}

.mat-step-header {
  .mat-step-icon {
    background-color: $colorLight;
    color: $colorBlue;
    border: 3px solid $colorDarkDark;
    width: 40px;
    height: 40px;

    &.mat-step-icon-selected {
      border-color: $colorBlue;
    }

    &.mat-step-icon-state-done {
      background-color: $colorBlue;
      color: $colorLight;
      border: none;
    }
  }

  .mat-step-label {

    &.mat-step-label-active, &.mat-step-label-selected {
      .mat-step-text-label {
        color: $colorBlue;
      }
    }

    &.mat-step-label-selected {
      &:after {
        content: '•';
        font-size: 28px;
        position: absolute;
      }
    }

    .mat-step-text-label {
      @extend  .text-small;
      font-weight: bold;
    }
  }
}
