// Global utils css
.text-small {font-size: 12px}
.text-medium {font-size: 14px}
.text-large {font-size: 16px}

.text-center {text-align: center}
.text-bold {font-weight: bold}
.text-underline {text-decoration: underline}

.text-danger {
  color: red;
}

.fix-size-to-container {
  position: relative;
  margin: auto;
  max-width: $maxWithContainer;
  width: 90%;
}
